{% extends "admin/base.html" %}

{% block title %}{{ title }} | Landis Center Admin Panel{% endblock %}

{% block extrastyle %}
    <style>
        #header {
            background-color: #910029;
            color: white;
        }
        .module h2, .module caption, .inLine-group h2 {
            color: white;
            background-color: #910029;
        }
    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><span style="color:white">Landis Center Admin Panel</span></h1>
{% endblock %}

{% block nav-global %}

{% endblock %}