{% extends "admin/base.html" %}

{% block title %}{{ title }} | Landis Center Admin Panel{% endblock %}

{% block extrastyle %}
    <style>
        body{
            font-family: "Trebuchet MS", Helvetica, sans-serif;
        }

        .dashboard {
            background-image: url("https://cdn.lafayette.edu/images/footer/campus_aerial-1440x810.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        #header {
            background-color: #910029;
            color: white;
            border-bottom: 4px solid #65001C;
        }

        #branding {
            font-size: 300%;
        }

        div#recent-actions-module.module h2{
            background-color: #910029;
            color: white;
            border-bottom: 4px solid #65001C;
        }

        div.selector-chosen h2 {
            background-color: #65001C;
        }

        h1{
            background-color: #910029;
            width: fit-content;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            color: white;
            font-weight: 500;
            border-bottom: 4px solid #65001C;
        }

        .module h2, .module caption, .inLine-group h2 {
            color: white;
            background-color: #910029;
            border-bottom: 4px solid #65001C;
        }

        div.breadcrumbs {
            background-color: #65001C;
        }

        a:link, a:visited {
            color: #000;
        }


        .object-tools a:link, .object-tools a:visited {
            background-color: #910029;
        }

        .object-tools a:hover{
            background-color: #65001C;
        }

        .button, input[type=submit], input[type=button], .submit-row input, a.button {
            background: #910029;
            color: #fff;
            border-radius: 14px;
        }

        .button:hover, input[type=submit]:hover, input[type=button]:hover, input[type=button]:hover, .submit-row input:hover, a.button:hover {
            background: #65001C;
            color: #fff;
        }

        .button.default, input[type=submit].default, .submit-row input.default {
            background: #910029;
            color: #fff;
        }

        .button.default:hover, input[type=submit].default:hover, .submit-row input.default:hover {
            background: #65001C;
            color: #fff;
        }

    </style>
{% endblock %}

{% block branding %}
    <h25 id="site-name"><span style="color:white">
    <img src="//upload.wikimedia.org/wikipedia/en/thumb/3/31/Seal_of_Lafayette_College.png/180px-Seal_of_Lafayette_College.png"
         alt="logo" class="logo" height="50" width="50" align="top">
    Landis Center Admin Panel</span></h25>
{% endblock %}

{% block nav-global %}

{% endblock %}